//colors
$color_logo: #FF3800;
$color_nav: #FFFCC4;
$color_nav_writing: #009393;
$color_active_button: #007299;
$color_hover_button: #00585F;
$color_modal_writing: #FFFFFF;
$color_login_background: #2C3E50;
$color_login_border: #999999;


//fonts
$font_stack: Ubuntu, sans-serif;
$font_0: 'Ubuntu';
$font_1: 'sans-serif';

//urls
$gradient_background: url('/background.jpg');
$url_1: url('jumbotron-bg.png');

//Background
body {
	background: $gradient_background;
}

//Center Table Data and Headers
//Consider making it a mixin
td, th {
	text-align: center;
}


//Navigation
.navbar-default {
	background-color: $color_nav;
	.navbar-brand {
		color: $color_nav_writing;
		font-size: 2.7rem;
		font-weight: bolder;
		vertical-align: center;
	}
}

//Navigation Dropdowns
.navbar-nav {
	li {
		button{ line-height:35px; }
		ul li { text-align: center; }
        ul {background-color: $color_nav}
	}
}

.notificationList {
  //vertical-align: center;
  i {
    color: $color_nav_writing;
    padding-right: 5px;
    vertical-align: center;
  }
}

.notificationListIcon {
  height: 100%;
  border: 5px;
}


//Content
#content {
	margin-top: 65px;
	margin-left: 20px;
}

//Logo
.fa-futbol-o {
	color: $color_logo;
	padding-right: 5px;
}

//New Events
.centerBlock {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.2rem;
}

//Event Detail Stylings
.eventInfo {
	text-align: center;
}

.modal {
	overflow-y: scroll;
}

.modal-header {
	color: $color_modal_writing;
	background-color: $color_nav_writing;
	h4 {
		font-weight: bold;
		font-size: 2rem;
	}
}

.modal-footer {
	color: $color_nav;
}

.modal-content {
	background-color: $color_nav;
}

#detailCommentButton {
	margin-bottom: 5px;
}

#commentsCollapse p {
	text-align: center;
}

.join, .details {
	vertical-align: center;
}

//For button on insert game form
#insertAssignment {
	margin-bottom: 2rem;
}

//Landing Page Login & Register
.login {
	margin: 0 auto;
	max-width: 500px;
}

.login-header {
	color: #000000;
	text-align: center;
	font-size: 300%;
	h1{
		text-shadow: 0px 5px 15px #000000;
	}
}

.login-form {
	border:2px solid #999;
	background:#2c3e50;
	border-radius:10px;
	box-shadow:0px 0px 10px #000;
	padding-top:15px;
	margin:50px auto;
	text-align:center;
	overflow: hidden;
	h3 {
		text-align: left;
		margin-left: 40px;
		color: #ffffff;
	}
	input[type="username"], input[type="password"], input[type="text"] {
        text-align: center;
        width: 100%;
        max-width:400px;
        height:30px;
        font-family: 'Ubuntu', sans-serif;
        border-radius:5px;
        border:2px solid #f2f2f2;
        outline:none;
        padding-left:10px;
        margin: 0 auto;
        float: none;
    }
	input[type="submit"]{
		margin-bottom: 15px;
	}
}

//Landing Page Jumbotron
.jumbotron {
	position: relative;
	color: $color_logo;
	/*background: #000 url("jumbotron-bg.png") center center;*/
	width: 100%;
	height: 100%;
	background-size: cover;
	overflow: hidden;
	text-align: center;
	p {
		color: $color_nav_writing;
	}
}

//Modified Bootstrap Buttons
.btn {
	padding: 14px 24px;
	border: 0 none;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	&:focus, &:active:focus, &.active:focus {
		outline: 0 none;
	}
}

.btn-info {
  background: $color_nav_writing;
  color: #ffffff;
}

.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-danger.outline {
  border: 2px solid $color_logo;
  color: $color_logo;
}

.btn-primary.outline {
  border: 2px solid $color_nav_writing;
  color: $color_nav_writing;
  .badge {
    background-color: $color_nav_writing;
    color: #ffffff;
  }
}

.btn-primary {
	background: $color_nav_writing;
	color: #ffffff;
	&:hover, &:focus, &:active, &.active {
		background: $color_hover_button;
	}
}

@media only screen and (min-width : 150px) and (max-width : 530px){
	.login-form h3 {
		text-align:center;
		margin:0;
	}
	.login-button {
		margin-bottom:10px;
	}
}

@media only screen and (max-width: 768px) {
	#clearNotifications {
		width: 100%;
	}

}

#map {
height: 70%; width: 100%; position: absolute; top: 0; left: 0;
}
.flotante{
  position: absolute;
  top: 10px;
  left: 100px;
  z-index: 99;
}